// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$light: white;
$blood: #8B0000;
$onyx: rgb(26, 26, 26);
$grey: #898989;
$white: rgb(230, 230, 230);
