<div class="table_helper">
  <div class="infos__helper table_helper__content">
    <i class="fa-solid fa-square"></i><h6>Infos</h6>
  </div>
  <div class="body__helper table_helper__content">
    <i class="fa-solid fa-square"></i><h6>Body</h6>
  </div>
  <div class="neck__helper table_helper__content">
    <i class="fa-solid fa-square"></i><h6>Neck</h6>
  </div>
  <div class="pickup__helper table_helper__content">
    <i class="fa-solid fa-square"></i><h6>Pickup</h6>
  </div>
  <div class="hardware__helper table_helper__content">
    <i class="fa-solid fa-square"></i><h6>Hardware</h6>
  </div>
</div>
