.guitar__image__zoom__container.hidden {
  display: none;
  overflow: hidden;
  padding: 0px;

  .close__button {
    display: none;
  }
}

.guitar__image__zoom__container {
  display: flex;
  transition: all 0.1s;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  padding: 60px 24px;
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;

  img {
    position: relative;
    opacity: 0;
    min-height: 60vw;
    max-height: 80vw;
    animation: opacity 0.5s;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
  }
  &:hover {
    cursor: pointer;
  }
}

.show__close__button {
  z-index: 9999;
  animation: opacity 0.5s;
  animation-fill-mode: forwards;
}

.image__container {
  position: relative;
  overflow: hidden;
  width: 0px;
  height: 0px;
  background: rgba(255, 255, 255, 0.95);
  animation: anime 0.8s;
  animation-fill-mode: forwards;
  max-width: fit-content;
}

 .close__button {
  opacity: 0;
  position: absolute;
  color: rgba(255, 255, 255, 0.6);
  z-index: 9999;
  animation-delay: 0.6s;
 }

.main__pic {
  transform: rotate(90deg);
  .close__button {
    top: 0px;
    left: 8px;
    font-size: 24px;
  }
}

.secondary__pic {
  max-height: 90vh;
  img {
    width: 100%;
    max-width: 80vw;
    max-height: 80vh;
    min-height: 0;
  }
  .close__button {
    top: -2px;
    right: 8px;
    font-size: 24px;
  }
}

@keyframes anime {
  0% {
    width: 2px;
    height: 2px;
  }

  30% {
    width: 20vw;
    height: 2px;
  }

  100% {
    border: 1px solid rgba(255, 255, 255, 0.8);
    width: 80%;
    height: auto;
    border-radius: 8px;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
    border-radius: 0px;
  }

  100% {
    opacity: 1;
    border-radius: 8px;
  }
}

@media (max-width: 700px) {
  .guitar__image__zoom__container {
    padding: 0;
  }
}
