.edit__container, .new__container {
  padding: 86px 0 24px 0;
}

.form__title {
  display: flex;
  align-items: center;
  margin: 32px 0 20px 0;
  h4 {
    margin: 0 12px;
  }
  img {
    width: 40px;
    height: 40px;
  }
  &:hover {
    cursor: pointer;
  }
}

.form__container {
  background-color: rgba(255, 255, 255, 0.25);
  padding: 24px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  transition: all 0.3s;
  margin-bottom: 24px;
}

.form__hidden {
  transition: all 0.3s;
  height: 0px;
  overflow: hidden;
  padding: 0px;
}

.form__submit__button {
  margin: 32px 0;
  display: flex;
  justify-content: center;
}

.delete-link-container {
  display: flex;
  justify-content: center;
}

.upload-photo {
  border: 1px solid #d3d3d3;
  padding: 16px 24px;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-radius: 2px;
  margin-right: 40px;
}

.form__photo {
  display: flex;
  margin-bottom: 8px;
  img {
    margin-left: 8px;
  }
}
